@mixin text-none {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

#head-vue {
  display: block;
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #f8f8f9;
  margin: 0 auto;
  top: 0;
  z-index: 2;
  box-shadow: 0 0 5px #888;

  .header-menu {
    width: 250px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    justify-content: space-around;
    & a[desc='index'] {
      display: block;
      @include text-none;
    }

    .login {
      width: 117px;
      display: flex;
      justify-content: space-around;

      a {
        display: block;
        @include text-none;
      }
    }
  }
}

.el-dropdown-link {
  text-decoration: underline;
  color: #000000;
  //font-style: ;
  font-size: 20px;
  cursor: pointer;
}
