#head-vue {
  background-color: bisque;
  box-shadow: 5px 5px 1px #444;
}

.headPic {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

div a {
  background-color: aliceblue;
}
.dropdown-item{
  cursor: pointer;
}
#myBtn {
  transition: .7s;
}