@mixin clear {
  margin: 0;
  padding: 0;
}

* {
  @include clear
}

#new_list {
  //float: left;
  width: 550px;
  min-height: 1000px;
  overflow: hidden;
  border: 1px solid #D7D7D7;
  margin-left: 110px;

  .new_list_head {
    width: 550px;
    height: 35px;
    font-family: STHeiti, "Microsoft Yahei", "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
    z-index: 2;
    background: url(//tb2.bdstatic.com/tb/static-spage/img/css_078cbdc.png) no-repeat -7px -8px;
    box-shadow: 0 1px #eaeaea;

    ul {
      height: 35px;
      float: left;
      li > a {
        & {
          padding: 0 14px;
          float: left;
          display: inline;
          height: 35px;
        }
        background-color: transparent;
        border-bottom: solid 2px #0086c8;
        color: #0086c8;
        display: block;
        float: left;
        height: 33px;
        line-height: 35px;
        overflow: hidden;
        text-decoration: none;
      }
    }
  }
}

ul, li, ol {
  list-style: none;
}